/*.main-header{
	background-color: red;
	padding: 20px 15px;
}
.main-header:after{
	content: " ";
	clear: both;
	display: block;
}
.logo{
	float:left;
}
.navbar{
	float: right;
}
.navbar-li{
	display: inline-block;
	margin-left: 20px;
}
.navbar-li:before {
	content: "";
	height: 20px;
	width: 10px;
	background-color: yellow;
	display: inline-block;
}
.navbar-li:after {
	content: "";
	height: 20px;
	width: 10px;
	background-color: aqua;
	display: inline-block;
}
.navbar-a{
	color:#000;
	font-size: 30px;
}
.clear{
	clear:left;
}
.block{
	max-width: 900px;
	width:100%;
	margin:20px auto;
	text-align: center;
}
.block:before {
	content: "";
	width:100px;
	height: 4px;
	background-color: red;
	display: block;
	margin:50px auto;
}
.block:after{
	content: "";
	width:100px;
	height: 4px;
	background-color: red;
	display: block;
	margin:50px auto;
}*/
body{
	background-color: green;
	padding: 50px;
}
.main-header:after{
	content: " ";
	clear: both;
	display: block;
}
.logo{
	float: right;
	font-size: 40px;
	color: yellow;
}
.navbar{
	float: right;
	margin-right: 100px;
}
.navbar-li{
	display: inline-block;
	margin-left: 20px;
	font-size: 40px;
/*	width: 300px;
    background: red;
    padding: 50px;*/
}
.navbar-a{
	color:#fff;
}
.container{
	max-width: 1160px;
	width: 100%;
	margin:40px auto;
/*	background-color: aqua;*/
}
.box{
	width:500px;
	background-color: yellow;
	float: left;
}
.box1{
	width:500px;
	background-color: yellow;
	float: right;
}
.container:after{
	content: " ";
	clear: both;
	display: block;
}